venv/
env/
.venv/

__pycache__/
*.py[cod]
*$py.class
*.pyc

*.csv

.ipynb_checkpoints/

assets/*.keras
assets/*.joblib
assets/*.pickle
assets/*.model

df_alfagift.csv
df_alfagift_clean.csv
output/data_clean.csv

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

.env
.env.local
